<!DOCTYPE html>
<html>
<head>
  <title>Gridiron Guru</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default shadow" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <strong><a class="navbar-brand" href=<%= root_url %>>Gridiron<span class='glyphicon glyphicon-flash'></span>Guru</a></strong>
      </div>

      <div class="collapse navbar-collapse">
        <% if @user = current_user %>
          <%= render 'layouts/sign_out' %>
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome, <%= @user.first_name %><span class='caret'></span></a></li>
          </ul>
        <% else %>
          <%= render 'layouts/sign_in' %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign up", new_user_url %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

  <div class='container-fluid no-padding'>

    <%= yield %>

    <div class='row'>
      <div class='col-xs-12 footer'>
        &copy; <%= Time.now.year %> Gridiron Guru
      </div>
    </div>
  </div>
</body>
</html>
